/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       
98cdd3 - for background color box
 Insert all your glorious CSS styles below! */
body {
      background-color: #d15050;
      background-image: url(images/new-r5.png);
      background-repeat: repeat;
      font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-align: center !important;
      max-width: 800px;
      margin: 0 auto;
}

h1, h2, h3 {
      font-family: "Zen Dots", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #d15050
}

article {
      border: 2px solid rgb(11,187,208)
      background-color: rgb(11,187,208);
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 20px;
}

ul {
      text-align: center !important;
      width: 300px;
}

p, li {
      color: #4d868a;
}








