body {
	background: #ff6262;
	background: linear-gradient(-45deg, #35577D, #141E30);
	font-family: "DM Serif Display", serif;
	text-align: center;
}




h1, h2, h3 {
	font-family: "DM Serif Display", serif;
}

