body {
	background: #b6b5b4;
	font-family: "DM Serif Display", serif;
	text-align: center !important;
}

.table {
	background: #727272;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
}








