body {
	background: #b6b5b4;
	font-family: "DM Serif Display", serif;
	text-align: center !important;
}

.table {
	background: #727272;
	border: 1px solid black;
	border-collapse: collapse;
	border-style: solid;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.list {
	text-align: center !important;
	list-style-position: inside;
}










