/* styles.css */
body {
	background-color: #110251;
  	font-family: "Tagesschrift", system-ui;
  	font-weight: 400;
  	font-style: normal;
	text-color: rgb(255,255,255);
	text-align: center !important;
}

h1, h2, h3 {
	font-family: "MedievalSharp", cursive;
  	font-weight: 400;
	font-style: normal;
}

ul {
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
}
