/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

  /* almendra-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almendra Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/almendra-display-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* amethysta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amethysta-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pt-sans-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* slabo-27px-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/slabo-27px-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #3b3d6d;
      background-image: url(images/Sprinkle.svg);
      background-repeat: repeat;
  padding: 0 20px 20px 20px;
  margin: 0;
}

article {
  background-color: rgba(106,106,140,.85);
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

h1, h2, h3, h4 {
  font-family: 'Almendra Display';
}

h1, h2 {
      text-align: center;
      text-shadow: 1px 1px 2px #ffffff;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h4 {
      font-size: 35px;
      margin-top: 0;
      margin-bottom: 0;
      text-shadow: 1px 1px 1px #ffffff;
}

p, ul {
  font-family: 'Amethysta';
}

p, li {
  font-size: 18px;
}

a {
      text-decoration: none;
      color: #3b3d6d;
}

.grid {
      margin: 0 auto;
      width: 83%;
      display: grid;
      grid-template-columns: 25% 25% 2fr 1fr;
      grid-template-rows: 650px 650px;
      gap: 10px 15px;
}

.box {
  border-radius: 5px;
  border: 2px black solid;
}












/*
html {font-size: 16px;}

body {
  font-family: 'Amethysta', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Almendra Display', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Almendra Display', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 { font-size: 3.16em; }

h3,
.text-size-h3 { font-size: 2.37em; }

h4,
.text-size-h4 { font-size: 1.78em; }

h5,
.text-size-h5 { font-size: 1.33em; }

.text-caption { font-size: 0.75em; }

small,
.text-small {
  font-size: 0.56em;
}
*/          





















