/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* alike-regular - latin  (headers)*/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alike-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* actor-regular - latin (normal words) */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/actor-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Initially my fonts didn't work so I took a closer look and apparently I was missing the ../ portion on the url.*/

article {
  background-color: #7d5a9d;
  max-width: 760px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
}

body {
  line-height: 1.65;
  background-color: #432e57;
  background-image: url(images/purple-bg.avif);
  background-repeat: repeat;
  padding: 0 20px 20px 20px;
  margin: 0;
}

p, ul {
  font-size: 1em;
  font-family: 'Actor', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alike', serif;
  font-weight: true;
  line-height: 1.15;
}

h1 {
      font-size: 3.05em;
      align: center;
}

h2 {
      font-size: 2.44em;
}

h1, h2 {
      text-shadow: 1px 1px 2px #ffffff;
}

.boxes, .grim {
    display: flex;
    flex-flow: row wrap;
}

.boxes div, div.grim {
    flex: 1 1 250px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    background-color: rgba(0,0,0,.1);
    display: flex;
    flex-flow: column;
      justify-content: center;
}











