/* Some selectors to get you started */
/* afacad-flux-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/afacad-flux-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oldenburg-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oldenburg-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
	background-image: url(images/bg.jpg);
    background-repeat: repeat;
  	padding: 0 20px 20px 20px;
 	margin: 0;
}

article {
	background-color: rgba(106,106,140,.85);
  	max-width: 90%;
 	margin: 0 auto;
  	padding: 10px;
  	border-radius: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Oldenburg';
}

p, li {
	font-family: 'Afacad Flux';
}

h1 {
	font-size: 70px;
	text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}

h2 {

	
}

h3 {
	font-size: 45px;	
}


p {
	font-size: 25px;
}

a {
	text-decoration: underline;
    color: #000000;
}

ol {


}

ul {


}

li {

	
}







