/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* zen-antique-soft-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zen Antique Soft';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/zen-antique-soft-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* zen-old-mincho-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zen Old Mincho';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/zen-old-mincho-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*I think it makes the most sense to have the group, then if they need to be separated, put the individual tags right under the group that contains all of them.*/
h1, h2, h3 {
      font-family: 'Zen Antique Soft';
      color: #a30050;
}

h1 {
      font-size: 70px;
}

h2 {
      font-size: 55px
}

h3 {
      font-size: 45px;
}

p, ul {
      font-family: 'Zen Old Mincho';
      font-size: 30px;
      color: #ca4300;
}

p {
      line-height: 1.5;
}

/*I'm officially a huge fan of the article tag, I love making those center boxes, they look so refined.*/
article {
      background-color: #ff5dad;
      border: 10px solid rgb(202,67,0);
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px;
      text-align: left;
}

body {
      background-color: #a30050;
      background-image: url(images/dark-pink.jpg);
      background-repeat: repeat;
}

.center {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
}




















