/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* east-sea-dokdo-regular - latin, meant for small words */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'East Sea Dokdo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/east-sea-dokdo-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bilbo-regular - latin, meant for big words */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bilbo-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
      background-color: #719b6c;
      margin: 0 auto;
      
}

article {
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
      padding: 10px;
}

header {
      background-color: #131713;
      border-bottom: 3px solid #131713;
      font-family: 'Bilbo', sans-serif;
      color: #ffffff;
      position: fixed;
      width: 100%;
      z-index: 10;
      word-spacing: 30px;
}

header ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
}

header ul li {
      font-size: 40px;
}

/*
ul {
      margin: 30px auto;
      padding: 0 20px;
      text-align: center;
}

li {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      display: inline-block;
      width: 120px;
}
*/

a {
      text-decoration: none;
      color: #ffffff;
}

h1, h2, h3, h6 {
      font-family: 'Bilbo', sans-serif !important;
}

h1 {
      padding-top: 50px;
      font-size: 80px;
}

h3 {
      font-size: 45px
}

h6 {
      font-size: 24px;
      line-height: 0.5;
}

p {
      font-family: 'East Sea Dokdo', sans-serif;
      font-size: 35px;
}

footer {
      align: center;
      font-family: 'East Sea Dokdo', sans-serif;
      background-color: #131713;
}

.buttons {
      border: 1px solid white;
      padding: 40px 0px;
      position: relative;
      text-align: center;
      width: 100%;
      color: #ffffff;
}

.buttons a {
        background: #719b6c;
        border: 1px solid white;
        border-radius: 3px;
        color: #131713;
        display: inline-block;
        margin: 10px;
        padding: 14px;
        text-decoration: none;
      font-size: 35px;
}

.buttons a:hover {
        background: white;
        border: 1px solid #131713;
        color: #131713;
}
















