/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* east-sea-dokdo-regular - latin, meant for small words */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'East Sea Dokdo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/east-sea-dokdo-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bilbo-regular - latin, meant for big words */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bilbo-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
      background-color: #719b6c;
      margin: 0 auto;
      font-family: 'East Sea Dokdo', sans-serif;
}

header {
      background-color: #0a0b0a;
      border-bottom: 3px solid #0a0b0a;
      font-family: 'Bilbo', sans-serif;
      color: #ffffff;
      position: fixed;
      width: 100%;
      z-index: 10;
      word-spacing: 20px;
}

ul {
      margin: 30px auto;
      padding: 0 20px;
      text-align: left;
}

li {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      display: inline-block;
      width: 100px;
}

a {
      text-decoration: none;
      color: #ffffff;
}

h1, h2, h3 {
      font-family: 'Bilbo', sans-serif;
}

h1 {
      padding-top: 100px;
}

p {
      font-family: 'East Sea Dokdo', sans-serif;
}


























